<!DOCTYPE html>
<html ng-app="todoApp">
<head>
   <title>Neightborhood Map</title>
   <script src="js/lib/angular.min.js"></script>
   <script src="js/app.js"></script>
   <link href="css/stylesheet.css" rel="stylesheet">
</head>
<body>

   <div ng-controller="todoCtrl">
      <h2>Total todos: {{totalTodos}} </h2>
      <ul>
         <li ng-repeat="todo in todos">
            <input type="checkbox" ng-model="todo.done">
          <span class="done-{{todo.done}}">{{todo.text}}</span>
         </li>
      </ul>
   </div>

</body>
</html>
